<template>
    <v-app>
        <Head :title="$store.state.page.title" />
        <navbar></navbar> 
        <sidebar></sidebar> 
        <v-main>
            <v-container fluid>
                <slot></slot>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue'
import Navbar from '@/components/Navbar'
import Sidebar from '@/components/Sidebar'

export default {
    components: {
        Head, Link, Sidebar, Navbar
    },
    created(){
        // let { roles, permissions } = this.$page.props.auth.user

        // this.$gates.setRoles(roles)
        // this.$gates.setPermissions(permissions)
    },
}
</script>
