<template>
    <v-row>
        <v-col cols="12">
            <span class="text-h5">Dashboard</span>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: 'Dashboard.Index',
    data: () => ({
        titlePage: 'Dashboard'
    })
}
</script>
