<template>
    <v-app-bar
        color="primary"
        app
        dense
        dark
        clipped-left
    >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title>Company</v-toolbar-title>

        <v-spacer></v-spacer>

        <Link :href="route('logout')" method="post">
            <v-icon>mdi-logout</v-icon>
        </Link>
    </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'Navbar',
    computed: {
        drawer: {
            get(){
                return this.$store.drawer
            },
            set(){
                this.$store.dispatch('toggleDrawer')
            }
        }
    }
}
</script>
