<template>
    <v-navigation-drawer
        color="primary"
        :value="drawer"
        clipped
        app
        dark
        permanent
        :expand-on-hover="!drawer"
        :mini-variant="!drawer"
    >   
        <v-list dense>
            <v-list-item class="px-2">
                <v-list-item-avatar>
                    <img src="https://randomuser.me/api/portraits/men/81.jpg">
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{ user.first_name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ user.username }}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            
            <v-divider class="my-2"></v-divider>
            
            <v-list-item link>
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item>

            <v-list-group
                prepend-icon="mdi-message"
                color="white"
            >
                <template v-slot:activator>
                    <v-list-item-title>Mensajes SMS</v-list-item-title>
                </template>

                <v-list-item link class="ml-14" @click.prevent="$inertia.visit(route('sms.campaings.create'))">
                    <v-list-item-title>Campaña</v-list-item-title>
                </v-list-item>
            </v-list-group>

            <v-list-group
                prepend-icon="mdi-message"
                color="white"
            >
                <template v-slot:activator>
                    <v-list-item-title>Mensajes WhatsApp</v-list-item-title>
                </template>

                <v-list-item link class="ml-14">
                    <v-list-item-title>Campaña</v-list-item-title>
                </v-list-item>
            </v-list-group>

            <v-list-group
                prepend-icon="mdi-cube"
                color="white"
            >
                <template v-slot:activator>
                    <v-list-item-title>Catálogos</v-list-item-title>
                </template>

                <v-list-item link class="ml-14">
                    <v-list-item-title>Números de teléfono</v-list-item-title>
                </v-list-item>

                <v-list-item link class="ml-14" @click.prevent="$inertia.visit(route('catalogues.distribution-lists.index'))">
                    <v-list-item-title>Listas de distribución</v-list-item-title>
                </v-list-item>
            </v-list-group>

            <v-list-group
                prepend-icon="mdi-cog-outline"
                color="white"
            >
                <template v-slot:activator>
                    <v-list-item-title>Configuración</v-list-item-title>
                </template>

                <v-list-item link class="ml-14">
                    <v-list-item-title>Administradores</v-list-item-title>
                </v-list-item>

                <v-list-item link class="ml-14">
                    <v-list-item-title>Usuarios</v-list-item-title>
                </v-list-item>

                <v-list-item link class="ml-14">
                    <v-list-item-title>Calendario</v-list-item-title>
                </v-list-item>
            </v-list-group>

            <v-list-item link>
                <v-list-item-icon>
                    <v-icon>mdi-file</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Reportes</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'
import { Link } from '@inertiajs/inertia-vue'

export default {
    name: 'Sidebar',
    components: {
        Link,
    },
    data: () => ({
        //
    }),
    computed: {
        ...mapState(['drawer']),
        user(){
            return this.$page.props.auth.user
        }
    }
}
</script>
