<template>
    <v-app dark style="background: #1a202c !important;">
        <Head :title="$store.state.page.title" />
        <v-main>
            <v-container fluid fill-height style="width:450px;">
                <slot></slot>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue'
    
export default {
    components: {
        Head
    }
}
</script>