<template>
    <v-layout align-center="align-center" justify-center="justify-center">
        <v-flex class="login-form text-xs-center"> 
            <v-card>
                <v-card-text>
                    <v-row class="ma-0 pa-0">
                        <v-col cols="12" class="ma-0 pa-0">
                            <v-row class="text-center justify-center">
                                <v-img max-width="80%" src="/img/login-banner.png"></v-img>
                                <v-icon class="pt-6" color="#1a202c" style="position:absolute; padding-right:225px;" size="60">
                                    mdi-key
                                </v-icon>
                                <span class="white--text display-1 font-weight-black pl-12 pt-7" style="position:absolute;">
                                    Company
                                </span>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-form class="mt-6" ref="form" @submit.prevent="onSubmit">
                        <v-text-field
                            label="Usuario"
                            v-model="form.username"
                            prepend-inner-icon="mdi-account"
                            outlined
                            dense
                        >
                        </v-text-field>
                        <v-text-field
                            label="Contraseña"
                            v-model="form.password"
                            prepend-inner-icon="mdi-key"
                            :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'" 
                            :type="show ? 'text' : 'password'"
                            @click:append="show = !show"
                            outlined
                            dense
                        >
                        </v-text-field>
                        <v-checkbox
                            label="Mantener sesión"
                            class="pa-0 mt-0 mb-4"
                            hide-details
                        ></v-checkbox>
                        <v-btn
                            color="primary"
                            type="submit"
                            :loading="form.processing"
                            block
                        >
                            <span class="font-weight-bold">Iniciar sesión</span>
                        </v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import Layout from './Layout'

export default {
    name: 'Login',
    layout: Layout,
    data(){
        return {
            titlePage: 'Iniciar sesión',
            show: false,
            form: this.$inertia.form({
                username: null,
                password: null,
            })
        }
    },
    mounted(){
        this.$gates.setRoles([])
        this.$gates.setPermissions([])
    },
    methods: {
        onSubmit(){
            this.form.post(route('login'));
        },
    }
}
</script>
